//book and video articles


// @-webkit-keyframes headerImage {
//   0% {
//   	transform: rotate(0deg) translate(0, 0);
//   }
//   10%, 30%, 50%, 70% {
//     transform: rotate(-8deg) translate(10%, -10%);
//   }

//   20%, 40%, 60%, 80% {
//     transform: rotate(14deg) translate(-4%, 0%);
//   }
//   100% {
//   	transform: rotate(0deg) translate(0, 0);
//   }
// }
// @-keyframes headerImage {
//   0% {
//   	transform: rotate(0deg) translate(0, 0);
//   }
//   10%, 30%, 50%, 70% {
//     transform: rotate(-8deg) translate(10%, -10%);
//   }

//   20%, 40%, 60%, 80% {
//     transform: rotate(14deg) translate(-4%, 0%);
//   }
//   100% {
//   	transform: rotate(0deg) translate(0, 0);
//   }
// }


//////////
//book-video
//////////
.book-video {
	padding: 25px 0;
}
.book-video__wrapper {
	display: flex;
	@include respond-to(mobile) {
		flex-direction: column;
	}
}
.book-video__half {
	flex-basis: 47.5%;
	&:last-child {
		margin-left: auto;
	}
	@include respond-to(mobile) {
		flex-basis: auto;
		display: flex;
		flex-direction: column;
		&:last-child {
			margin-left: 0;
			margin-top: 50px;
			border-top: 1px solid $secondary;
			padding-top: 50px;
		}
	}
}
.book-video__image {
	display: flex;
	justify-content: center;
	align-items: center;
	@include transition;
	img {
		max-width: 200px;
		transform: translateX(0);
		// .animation-ready & {
		// 	animation: headerImage 1.5s ease-in-out both;
		// }
		&:hover {
			box-shadow: 0 0 $secondary;
		}
	}
	@include respond-to(mobile) {
		align-self: center;
		img {
			max-width: 150px;
		}
	}
}
.book-video__headline-area {
	h1 {
		font-size: 3rem;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 10px;
		text-align: center;

	    @include respond-to(mobile) {
	    	text-align: center;
	    }
		span {
			display: block;
		    font-size: 2rem;
		    font-weight: 400;
		    margin-top: 10px;
		    .book-video__half:nth-child(1) & {
		    	color: $book;
		    }
		    .book-video__half:nth-child(2) & {
		    	color: $video;
		    }
		}
	}
	h2 {
		font-family: $merriweather;
		margin-bottom: 20px;
		font-size: 1.25rem;
	}

	@include respond-to(tablet) {
		h1 {
			font-size: 2rem;
			span {
				font-size: 2rem;
			}
		}
	}
	@include respond-to(mobile) {

	}
}


