
@keyframes crazyButton {
	0% {
		border-color: $book;
		color: $book;
	}
	25% {
		border-color: #f310c5;
		color: #f310c5;
	}
	50% {
		border-color: $video;
		color: $video;
	}
	75% {
		border-color: #f310c5;
		color: #f310c5;
	}
	100% {
		border-color: $book;
		color: $book;
	}
}
.button {
	display: block;
	font-family: $oswald;
	padding: 10px;
	margin: 40px 0;
	//width: 200px;
	font-size: 1.4rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	@include transition;
	border: 3px solid;
	
	&:focus, 
	&:hover {
		text-decoration: none;
		//transform: scale(1.1);
		animation: crazyButton 2s linear both infinite;
	}
	&__book,
	&__book:hover {
		color: $book;
		border-color: $book;
	}
	&__video,
	&__video:hover {
		color: $video;
		border-color: $video;
	}
	span {
		font-size: .65em;
		display: block;
		font-family: $merriweather;
		margin-top: 7px;
		text-transform: none;
	}
	
	@include respond-to(tablet) {
		width: auto;
		font-size: 1.2rem;
		padding: 5px;
	}
	@include respond-to(mobile) {
		margin-top: 30px;
	}

}