.site-footer {
	background-color: $book;
	@include background-gradient;
	padding: 60px 0;
	margin-top: 30px;
	color: #fff;
	h2 {
		font-family: $oswald;
		font-size: 2rem;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
	}
	p {
		font-size: 1rem;
		text-align: center;
	}
	.image-credits {
		font-size: .8rem;
		margin-top: 10px;
	}
	a {
		color: $white;

		&:hover {
			color: #fff;
		}
	}
}
