.header__top {
		//background-color: $book;
		padding: 60px 0;
		//margin: 0 auto;
		//max-width: 960px;
		@include background-gradient;
	h1 {
		font-size: 4rem;
		color: white;
		font-family: $oswald;
		font-weight: bold;
		text-transform: uppercase;
	}
	p {
		color: white;
	}
	@include respond-to(mobile) {
		padding: 30px 0;
		h1 {
			font-size: 2rem;
		}
		p {
			//font-size: 1rem;
		}
	}

}