.icon--wrapper {
	display: flex;
	justify-content: center;
}

.icon--large {
	svg {
		width: 150px;
		path {
			color: $gradient;
		}
	}
	display: flex;
	justify-content: center;
	.book-video__wrapper & {
		height: 200px;
		@include respond-to(mobile) {
			height: auto;
		}
	}
}
.icon--small {
	svg {
		width: 50px;
	}
}