
//list formatting
.condensed-list {
	.list-heading {
		font-weight: bold;
		list-style-type: none;
		margin-left: 0;
		font-size: 1.1em;
	}
	li {
		margin: 0 0 0 20px;
		font-size: .9em;
	}
}
//additional info expandable sections
.add-info {
	margin: 30px 0 0 0;
	h2 {
		display: flex;
		margin: 0 30px 0 0;
		text-transform: uppercase;
		font-size: 2rem;
		@include respond-to(tablet) {
			font-size: 1.75rem;
		}
		@include respond-to(mobile) {
			font-size: 1.5rem;
			margin-right: 15px;
		}
	}
}
.collapsable {
	display: none;
	margin-top: 20px;
}
.expand-collapse {
	display: block;
	margin-left: auto;
	position: relative;
	width: 30px;
	height: 30px;
	border: 3px solid $primary;
	border-radius: 100%;
	cursor: pointer;
	@include transition;
	@include no-touchy;
	&:before, 
	&:after {
		content: "";
		display: block;
		background-color: $primary;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		@include transition;
	}
	&:before {
		width: 20px;
		height: 3px;
	}
	&:after {
		width: 3px;
		height: 20px;
	}
	@include respond-to(mobile) {
		width: 20px;
		height: 20px;
		border-width: 2px;
		&:before {
			width: 15px;
			height: 2px;
		}
		&:after {
			width: 2px;
			height: 15px;
		}
	}
	&.open {
		&:before {
			display: none;
		}
		&:after {
			@include translateRotate($distanceX:-50%, $distanceY:-50%, $deg: 90deg);
		}
	}
	&:hover {
		border-color: $secondary;
		transform: rotate(180deg);
		&:before, 
		&:after {
			background-color: $secondary;
		}
	}
}

.add-info__learn {
	.youtube-video-container {
		margin-bottom: 30px;
		figcaption {
			font-size: 1.25rem;
			font-weight: light;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-family: $oswald;
		}
	}
	iframe {
		width: 380px; 
		height: 215px;
		border-left: 5px solid $secondary;
		box-sizing: border-box;
	}
}
.add-info__about {
	h2 {
		@include respond-to(mobile) {
			justify-content: center;
		}
	}
}
.add-info__about--inner-wrap {
	display: flex;
	margin-top: 20px;
	figure {
		flex-shrink: 0;
	}
	p {
		margin-left: 20px;
	}
	@include respond-to(mobile) {
		flex-direction: column;
		align-items: center;
		figure {
			margin-bottom: 20px;	
		}
	}
}
.profile-pic {
	margin-right: 20px;
	width: 150px;
	img {
		border-radius: 100%;
	}
}


