// Modular Styles
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}
.bold {
	font-weight: bold;
}
.hidden {
	visibility: hidden;
}
.hide {
	display: none;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}
.text-centered {
	text-align: center;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-5 {
	margin-bottom: 5px;
}

