/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	//list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, 
a:hover, 
a:visited, 
a:active {
	text-decoration: none;
}
a {
	color: $primary;
		text-decoration: underline;
	&:hover {
		color: $black;
	}
}
body {
	line-height: 1.5;
	font-size: 100%;
	font-family: $merriweather;
}
img,
iframe,
video {
	max-width: 100%;
}
.wrapper {
	width: 75.949367088607594936708860759494%; /* 960px/1280px */
	margin: 0 auto;
	@include respond-to(tablet) {
		width: 90%;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: $oswald;
	line-height: 1.4;
	color: $primary;
}
h2 {
	font-family: $oswald;
	font-size: 3em;
	@include respond-to(tablet) {
		font-size: 2em;
	}
	@include respond-to(mobile) {
		font-size: 1.75em;
	}
}
h3 {
	font-size: 1.5em;
}
p {
	font-size: 1.3em;
	@include respond-to(mobile) {
		font-size: 1em;
	}
}
::selection { background: $pop; }
