//variables
$primary: #333;
$secondary: #555;
$pop: #f17324;
$white: #fff; 
$black: #000;

$book: #3e5eab;
$video: #00a34a;

$sans: Arial, Helvetica, sans-serif;
$serif: Georgia, 'Times New Roman', serif;
$oswald: 'Oswald', $serif; //headlines
$merriweather: 'Merriweather', $sans; //paragraph


$tablet: 1050px;
$mobile: 767px;